.footer {
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/footerBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  //   filter: brightness(60%);
}

.footer__header {
  display: flex;
  justify-content: center;
  position: relative;
  color: white;
  font-size: 1.8rem;
  margin-top: 4rem;
  text-align: center;
}

.footer__header__subheading {
  display: flex;
  justify-content: center;
  position: relative;
  color: white;
  font-size: 1.3rem;
  margin-top: 1rem;
  text-align: center;
}

.footer__inputs {
  display: flex;
  //   border: 1px solid blue;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  position: relative;
  margin-top: 3rem;
}

.footer__inputs input {
  color: #90827f;
  border: none;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  width: 28%;
  padding: 0.7rem;
}

.footer__textarea {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  //   border: 1px solid red;
  margin-top: 1rem;
  position: relative;
}

.footer__textarea textarea {
  width: 100%;
  height: 6rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.footer__button {
  display: flex;
  justify-content: center;
  position: relative;
  width: auto;
  color: white;
  padding: 0.5rem 1rem;
  background: red;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  margin-top: 1rem;
}

.footer__note {
  display: flex;
  width: 100%;
  background: #161513;
  //   border: 1px solid red;
  position: absolute;
  bottom: 0;
  height: 6rem;
  color: white;
}

.footer__note__copyright {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  color: #a29896;
  position: relative;
  width: 50%;
  //   border: 1px solid blue;
}

.footer__note__socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 4rem;
  position: relative;
  color: #a29896;
  width: 50%;
  //   border: 1px solid green;
}

.footer__note__socials span {
  margin-right: 1rem;
}

.footer__note__socials img {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 1000px) {
  .footer__inputs {
    // border: 1px solid blue;
    width: 80%;
  }

  .footer__textarea {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .footer {
    height: 100vh;
  }

  .footer__header {
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    margin: 2rem;
    margin-bottom: 0rem;
    font-size: 1.8rem;
    margin-top: 4rem;
    line-height: 1.25;
  }

  .footer__header__subheading {
    color: white;
    font-size: 1.4rem;
    line-height: 1.5;
    margin: 2rem;
    margin-top: 1rem;
    text-align: center;
  }

  .footer__inputs {
    display: flex;
    margin-top: 0rem;
    flex-direction: column;
    // border: 1px solid blue;
    width: 90%;
  }

  .footer__inputs input {
    // border: 1px solid red;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    width: auto;
  }

  .footer__textarea {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    // border: 1px solid red;
    margin-top: 0rem;
    position: relative;
  }

  .footer__textarea textarea {
    height: 4rem;
  }

  .footer__note {
    flex-direction: column;
    height: 6rem;
  }

  .footer__note__copyright {
    margin-left: 0rem;
    margin-top: 1.5rem;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    // border: 1px solid blue;
  }

  .footer__note__socials {
    justify-content: center;
    margin-right: 0rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    // border: 1px solid green;
  }
}
