#bar-1 {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 3px 0px;
  margin-bottom: 3px;
}

#bar-2 {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 3px 0px;
}

#bar-3 {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 3px 0px;
  margin-top: 3px;
}
